#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 1350px;
  height: 1080px;
}

.image-container {
  position: relative;
}


.container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #002f5f;
  height: 100vh;
  
}

.col1{
  display: grid;
  grid-template-rows: 1fr .3fr 3fr;
}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo img{
  width: 16vw;
  padding-top: 6vh;
  z-index: 1;
  
}

.redes img{
  width: 12vw;
  padding-top: 3vh;
  z-index: 1;
}

.footer-img img{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 28vw;
}