#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: #002f5f;
  height: 100vh;
}


.image-container {
  position: relative;
}

.image-container img {
    border-radius: 20px;
}

.col1{
  display: grid;
  grid-template-rows: 1fr .3fr 3fr;
  max-height: 100vh;
  width: 25vw;

}

.images{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img{
  width: 18vw;
  padding-top: 6vh;
  z-index: 1;
}

.redes img{
  width: 12vw;
  padding-top: 1vh;
  z-index: 1;
}

.footer-img{
  height: 25vw;
}

.footer-img img{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 25vw;
}

.col2{
  max-height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  width: 4vh;
  padding: 4vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ac2b2b;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

}

