
.date{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 15vw;
  height: 10vh;
  margin: 0 2vw 4vh 2vw;
  background:  #ffffff1c;
  border-radius: 2vh;
}

p#hora{
  font-family: "Montserrat";
  font-size: 5vh;
  color: rgb(241, 241, 241);
  font-weight: 300;
  margin: 0;
}

p#data{
  font-family: "Montserrat";
 font-size: 2vh;
 color: rgb(241, 241, 241);
 font-weight: 300;
 margin: 0;

}