
.ImageSlide {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  width: 80vh;
  height: 90vh;

  margin: 4vh 0;
  background:#002f5f;
}

.ImageSlide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5vh;
}