.containerTemp{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
    width: 22vw;
    height: 90vh;
    margin: 4vh 3vw 4vh 0;
    background: linear-gradient(to bottom, #1c76b7, #00538d);
    border-radius: 4vh;

}

.tl{
    display: flex;
    align-content: center;

    padding:5vh;

    font-family: "Montserrat";
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 1vh;

    gap:.6vw;

}

.tempNum{
    font-family: "Montserrat";
    font-size: 10vh;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 1vh;

}


.temp-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 0 0 3vh 3vh;
    background: linear-gradient(to bottom, transparent, #ffffff27);
    padding: 1vw 1vw 1vw 2vw;
}

.desc{

    display: flex;
    align-items: center;
    font-family: "Montserrat";
    font-size: 3vh;
    color: rgb(255, 255, 255);
    margin: 1vh;
}

img#bandeira{
    width: 1.5em;
    border-radius: .2em;
}